<!DOCTYPE html>
<html lang="en">
<head>
    <title>Person Image Recognition</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
</head>
<body>
	<div class="container">
		<form>
			<input type="file" name="file" id="img"><img src="" id="img-tag" width="200px" />
			<label for="img" name="imgLabel" id="imgLabel">Person</label>
		</form>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){	
			function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					
					reader.onload = function (e) {
						$('#img-tag').attr('src', e.target.result);
					}
					reader.readAsDataURL(input.files[0]);
				}
			}
			$("#img").change(function(){
				readURL(this);
			});
			
			$('input[type="file"]').change(function(e){
				var fileName = e.target.files[0].name;
				$.ajax({
					url: '/classify',
					data: $('form').serialize(),
					type: 'POST',
					success: function(response) {
						console.log(response);
					},
					error: function(error) {
						console.log(error);
					}
				});
			});
		});
	</script>
</body>
</html>

